<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases><!-- 别名 -->
        <typeAlias alias="msgModel" type="com.forte.demo.robot.model.MsgModel"/>
        <typeAlias alias="ruleModel" type="com.forte.demo.robot.model.RuleModel"/>
        <typeAlias alias="stModel" type="com.forte.demo.robot.model.STModel"/>
        <typeAlias alias="initModel" type="com.forte.demo.robot.model.InitModel"/>
        <typeAlias alias="nameModel" type="com.forte.demo.robot.model.NameModel"/>
        <typeAlias alias="systemCodeModel" type="com.forte.demo.robot.model.SystemCodeModel"/>
        <typeAlias alias="randomNameModel" type="com.forte.demo.robot.model.RandomNameModel"/>

    </typeAliases>   <!-- 数据库环境 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!--<property name="url" value="jdbc:mysql://35.224.10.148:3306/coc?autoReconnect=true&amp;useUnicode=yes&amp;characterEncoding=UTF8&amp;allowMultiQueries=true"/>-->
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/coc?characterEncoding=UTF8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>   <!-- 映射文件 -->
    <mappers>
        <package name="com.forte.demo.robot.mapper"/>
    </mappers>
</configuration>