<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingguang.mapper.NameMapper" >

    <resultMap id="BaseResultMap" type="nameModel">
        <result column="STR_QQ" jdbcType="VARCHAR" property="strQQ" />
        <result column="STR_GROUP" jdbcType="VARCHAR" property="strGroup" />
        <result column="STR_NICKNAME" jdbcType="VARCHAR" property="strNickName" />
        <result column="STR_CARD" jdbcType="VARCHAR" property="strCard" />
        <result column="STR_NNAME" jdbcType="VARCHAR" property="strNName" />
        <result column="forgignName" jdbcType="VARCHAR" property="strForeignName"/>
        <result column="chinesename" jdbcType="VARCHAR" property="strChineseName"/>
        <result column="DT_CREATETIME" jdbcType="TIMESTAMP" property="dtCreatetime"/>
        <result column="IS_DELETED" jdbcType="INTEGER" property="isDeleted"/>
    </resultMap>

    <!-- 通过账号查询Guid -->
    <!--<insert id="saveMsg" parameterType="msgModel" >-->
      <!--&lt;!&ndash;insert into coc_Msg () &ndash;&gt;-->

    <!--</insert>-->
    <insert id="saveName" parameterType="nameModel">
      insert into t_name
      values (  #{strQQ},
                #{strGroup},
                #{strNickName},
                #{strCard},
                #{strNName},
                0,
                now()
      )
    </insert>

    <update id="updateName" >
        insert into t_name values
            (
             #{strQQ},
             #{strGroup},
             #{strNickName},
             #{strCard},
             #{strNName},
             0,
             now()
            )
    </update>

    <select id="selectNameByQQGroup" resultType="string">
        select
          ifnull(ifnull(STR_NNAME,str_CARD),str_NICKNAME)
        from t_name
        where  STR_QQ = #{strQQ} and STR_GROUP = #{strGroup}  and IS_DELETED = 0
        order by DT_CREATETIME desc limit 1 ;

    </select>

    <select id="selectByQQGroup" resultMap="BaseResultMap">
        select
            STR_QQ,STR_GROUP,STR_NICKNAME,STR_CARD,STR_NNAME
        from t_name
        where  STR_QQ = #{strQQ} and STR_GROUP = #{strGroup}  and IS_DELETED = 0
        order by DT_CREATETIME desc limit 1 ;

    </select>

    <select id="getEnglishName" resultMap="BaseResultMap">
        SELECT
            replace(GROUP_CONCAT( english ),',','·') forgignName,
            replace(GROUP_CONCAT( chinese ),',','·') chinesename
        FROM
            (
                SELECT
                    english,
                    chinese
                FROM
                    ( SELECT english, chinese FROM coc.englishFirstName ORDER BY rand( ) LIMIT 1 ) b UNION
                SELECT
                    english,
                    chinese
                FROM
                    ( SELECT english, chinese FROM coc.englishLastName ORDER BY rand( ) LIMIT 1 ) a
            ) c
    </select>

    <select id="getJapanName" resultType="string">
        SELECT
            replace(GROUP_CONCAT( text ),',','')
        FROM
            (
                SELECT
                    text
                FROM
                        ( SELECT text FROM coc.japaneseFirstName ORDER BY rand( ) LIMIT 1 ) b UNION
                SELECT
                    text
                FROM
                        ( SELECT text FROM coc.japaneseSurname ORDER BY rand( ) LIMIT 1 ) a
            ) c
    </select>

    <select id="getChineseName" resultType="string">
        SELECT
            replace(GROUP_CONCAT( text ),',','')
        FROM
            (
                SELECT
                    text
                FROM
                        ( SELECT text FROM coc.chineseSurname  ORDER BY rand( ) LIMIT 1 ) b UNION
                SELECT
                    text
                FROM
                        ( SELECT text FROM coc.chineseFirstName ORDER BY rand( ) LIMIT 1 ) a
            ) c
    </select>

</mapper>