<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingguang.mapper.WelcomeMapper" >
    <resultMap id="BaseResultMap" type="welcomeModel">
        <result column="STR_QQ" jdbcType="VARCHAR" property="strQQ" />
        <result column="STR_GROUP" jdbcType="VARCHAR" property="strGroup" />
    </resultMap>

    <!-- 通过账号查询Guid -->
    <!--<insert id="saveMsg" parameterType="msgModel" >-->
      <!--&lt;!&ndash;insert into coc_Msg () &ndash;&gt;-->

    <!--</insert>-->
    <update id="switchBot">
      update t_bot set  INT_STATUS = #{botStatus}
      <where>
          STR_QQ = #{strQQ} and  STR_GROUP = {strGroup}
      </where>

    </update>

    <select id="getBotList" resultMap="BaseResultMap">
      select STR_QQ, STR_GROUP
        from t_bot
          <where>
              INT_STATUS = 1;
          </where>

    </select>

</mapper>